// COLOR VARIABLES
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

// FONT VARIABLES
$font-primary: 'Public Sans', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 69.5em; // 1112px / 16px = 69.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 39.375em; // 630px / 16px = 39.375

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 112.5%;  /* (18 / 16) * 100 = 112.5 -> 1rem = 18px */
    letter-spacing: -0.2px;

    @media only screen and (max-width: $bp-large) {
        font-size: 109%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 104%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 99%;
    }
}

body {
    font-family: $font-primary;
    font-size: 15px;
    color: $grayish-blue;

    display: grid;
    grid-template-rows: 80px 656px repeat(3, min-content);
    grid-template-columns: [full-start] 1fr [center-start] minmax(min-content, 556px) [in-middle] minmax(min-content, 556px) [center-end] 1fr [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: [full-start] 70px [center-start] 1fr [in-middle] 1fr [center-end] 70px [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 80px 400px repeat(3, min-content);
        grid-template-columns: [full-start] 50px [center-start] 1fr [in-middle] 1fr [center-end] 50px [full-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 65px 293px repeat(3, min-content);
        grid-template-columns: [full-start] 20px [center-start] 1fr [in-middle] 1fr [center-end] 20px [full-end];
    }
}