.item {
    margin-top: 60px;

    @media only screen and (max-width: $bp-small) {
        text-align: center;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 400;
        color: $dark-blue;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    &__description {
        font-size: .89rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -0.2px;
        width: 100%;
    }
}